# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# ignore htaaccess by dev-prod
.htaccess

# ignore robots by dev-prod
robots.txt
# composer itself is not needed
composer.phar

#ignore-auth model
models/Login.php

#modules-admin igonore view
modules/admin/views/default/login.php

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

# no db
config/db.php

# ignore images
web/img/upload

# no index.php in web directory
web/index.php

# Ignore well known
.well-known

# Ignore sql dump if exists sometimes
sql_dump.sql