# Не при каких раскладах не добавляем сюда файл composer.lock - используется Snyk

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# ignore htaaccess by dev-prod
.htaccess

# ignore robots by dev-prod
robots.txt

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

# ignore images - that uploaded through Elfinder
web/img/upload

# ignore images - that uploaded as preview
web/img/admin

# Ignore well known
.well-known

# Ignore sql dump if exists sometimes
sql_dump.sql

# ignore environment variables
/.env

# Ignore Sitemaps files in the future
/sitemaps

# Ignore known_hosts

# Ignore log files - docker Nginx
docker/nginx/log/prod-error.log
docker/nginx/log/prod-access.log

# Mac DS_Store Files
.DS_Store