/*** Убираем видимость всех ненужных по умолчанию иконок в админке сайта ***/

.form-group.field-forest-exits_group, .form-group.field-forest-file, .form-group.field-tamojnya-exits_group, .form-group.field-tamojnya-file {
    display: none;
}

/*** Дополнительные правила для админского раздела, для горизонтального меню ***/
.navbar {
    z-index: 1;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.adm.label.margin-bottom-20 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
    padding-top: 6px;
}