/*** ���� ������ ��������� Escape from Tarkov ***/

body {
    background: #edeef0;
    overflow-x: hidden;
    width: 100%;
    max-width:100%;
}

.content-style {
}

.fixed-navigatsiya {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

/* ��� ���������� ������� */
.h-52 {
    max-height: 52px;
    height: 52px;
}

.navbar-default {
    background-color: #000000;
    border-color: #000000;
}

/** Edited 10-09-2022 **/
.navbar {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #c3392c;
    box-shadow: 0px 1px 4px;
    z-index: 1001;
}

.relative {
    position: relative;
}

.logo-img {
    position: absolute;
    top: 5px;
    left: -80px;
    width: 100px;
    height: 100px;
}

.navbar-default .navbar-nav > li > a {
    color: #edeef0;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #edeef0;
    background-color: rgba(255, 152, 0, 0.47);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(237, 238, 240);
    font-weight: bold;
}

/*** ������ ������ ����� ��������� ***/
.nav > li > a {
    position: relative;
    display: block;
    width: auto;
    text-align: center;
}

/** 172px **/
footer {
    background-color: #272727;
    color: #fff;
    height: 140px;
    border-top: 2px solid #c3392c;
    box-shadow: 0px 1px 4px;
    position: relative;
}

footer h5 {
    padding: 0 0 5px;
    color: #c3392c;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer .list-unstyled li a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 0.6px;
}

footer .list-unstyled li a:hover {
    color: #c74f27;
}

.footer-bottom {
    background: #1F1F1F;
    margin-top: 30px;
}

.pay {
    margin-bottom: 15px;
}

.copyright {
    font-size: 16px;
    padding-top: 14px;
}

.copyright a, .copyright span.organization_footer_title, .github-repo a {
    font-weight: bold;
    color: #7289da;
    font-style: italic;
    text-decoration: none;
}

.main-link, .main-inter-link {
    color: #fff;
    font-size: 16px;
    background: #272727;
    border: 2px solid #c3392c;
    transition: .5s;
}

.main-link:hover, .main-inter-link:hover {
    color: black;
    background: white;
    border-color: #5cb85c;
    transition: .5s;
}

.size-16 {
    font-size: 16px;
}

.mobile-brand {
    display: none;
}

.interback-grey {
    padding: 50px;
    background: #eaeaea;
}

.interback-white {
    padding: 50px;
    background: white;
}

.traders-desc {
    font-size: 16px;
}

.float-right {
    float: right;
}

.grey-line {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 0;
}

.main-site-heading {
    color: #c3392c;
}

.heading-class {
    padding: 50px 0 10px 0;
    background: white;
}

a .image-trader, .image-trader a:hover {
    max-width: 100%;
    box-shadow: 1px 1px 20px 3px;
    margin: 25px 0 0 0;
    color: #000000;
}

.wrap > .container.padding-top-0 {
    padding-top: 0;
}

.jumbotron-main {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    border: 1px solid #c3392c;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #3F51B5;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #c3392c;
    font-size: 6px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-carousel .owl-buttons .owl-prev {
    left: 10px;
    width: 40px;
    height: 40px;
    padding: 13px;
    position: absolute;
}

.owl-carousel .owl-buttons .owl-next {
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 15px;
    position: absolute;
}

.owl-carousel .owl-buttons div i {
    font-size: 34px;
    margin: -20px 0 0;
    color: #FF5722;
}

.owl-carousel .owl-buttons div i:hover {
    cursor: pointer;
}

.owl-buttons {
    position: absolute;
    top: 40%;
    max-width: 100%;
    width: 100%;
}

a.scup i {
    margin-top: 10px;
    color: #c74f27;
    font-size: 47px;
}

.scup {
    position: fixed;
    z-index: 1010;
    bottom: 80px;
    right: 10px;
    display: none;
}

a.scup {
    outline: 0;
    text-align: center;
}

a.scup i:hover {
    text-decoration: none;
    color: #919191;
}

h2 a {
    color: #000000;
    text-decoration: none
}

h2 a:hover {
    color: #c3392c;
    text-decoration: none
}

.mobile-small-logo {
    display: none;
}

.bs-docs-sidenav {
    width: 258px;
}

.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.nav.nav-list.bs-docs-sidenav.affix li a, .nav.nav-list.bs-docs-sidenav li a {
    background: white;
}

.nav.nav-list.bs-docs-sidenav.affix li.active a, .nav.nav-list.bs-docs-sidenav li.active a {
    background: rgb(216, 216, 216);
    color: #c3392c;
    font-weight: bold;
}

.nav.nav-list.bs-docs-sidenav.affix > li > a, .nav.nav-list.bs-docs-sidenav > li > a {
    text-align: left;
    color: rgba(0, 0, 0, 0.68);
    width: 100%;
    font-size: 15px;
}

ul li a.relative i {
    position: absolute;
    right: 5px;
    top: 12px;
}

.fixed-nav-top-145 {
    top: 145px;
}

.torgovec-info-quest-image {
    max-width: 100%;
    margin: 5px;
    box-shadow: 1px 1px 20px 3px;
    border: 1px solid #9E9E9E;
}

.quests-content, .keys-content, .clans-content, .donates-content, .api-content {
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.padding-top-110 {
    padding-top: 110px!important;
}

.admin-tabs, .nav > li > a.admin-tabs, .nav > li > a.admin-tabs:active, .nav > li > a.admin-tabs:focus {
    background: rgba(128, 128, 128, 0.29);
    font-weight: bold;
    text-align: center;
    color: #337ab7;
}

.nav > li > a.admin-tabs:hover {
    background: cornflowerblue;
    font-weight: 100;
    color: black;
    font-size: 18px;
}

.nav > li > a.admin-tabs.unactive, .nav > li > a.admin-tabs.unactive:hover, .nav > li > a.admin-tabs.unactive:active, .nav > li > a.admin-tabs.unactive:focus,  li > a.admin-inline.unactive, .li > a.admin-inline.unactive:hover, li > a.admin-inline.unactive:focus {
    cursor: no-drop;
    background: grey!important;
    color: rgb(255, 255, 255)!important;
    font-size: 14px;
    font-weight: bold;
}

.w-100-important {
    width: 100%!important;
    max-width: 100%!important;
}

.w-45-important {
    width: 45%!important;
    max-width: 45%!important;
}

.w-200 {
    width: 200px;
}

.admin-title-main {
    padding-bottom: 40px;
    color: #c3392c;
    font-weight: 500;
}

.glyphicon.glyphicon-eye-open, .glyphicon.glyphicon-pencil, .glyphicon.glyphicon-trash {
    margin: 0 10px;
}

.table.table-striped.table-bordered {
    text-align: center;
}

.tab-pane.active p {
    font-size: 16px;
    /* padding-bottom: 10px; */
}

a.image-link, a.image-link:hover, a.image-link:focus, a.image-link:active {
    color: black!important;
    outline: none;
}

a .image-link img, a.image-quests img  {
    border: 1px solid white;
    box-shadow: 1px 1px 6px 2px;
}

a.image-quests img, img.quests-small  {
    border: 1px solid white;
    box-shadow: 1px 1px 6px 2px;
    color: black!important;
    outline: none;
}

a.image-quests:focus {
    color: black!important;
    outline: none!important;
}

.container-1920 {
    width: 1920px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.map__full {
    max-width: 100%;
}

.white-content {
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.map-heading {
    color: #c3392c;
    font-size: 22px;
    font-weight: bold;
}

.maps__small {
    height: 100%;
    max-width: 100%;
    margin-top: 10px;
}

.right__content {
    width: 500px;
    height: 748px;
    background: black;
    z-index: 9999;
    position: relative;
    right:0;
    float: right;
    border-left: 2px solid #c3392c;
}

h2.white {
    color: white;
    text-align: center;
}

.map#map {
    width: 100%;
    height: 746px;
    position: relative;
}

.optins_layerstability {
    width: 540px;
    position: absolute;
    right: 0;
    top: 183px;
    height: 747px;
    background: black;
    display: block;
    z-index: 900;
    border-left: 2px solid #c3392c;
}

#mapCoords {
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 150px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-family: "Lucida Console",monospace;
    background-color: #404040;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.option-buttons {
    padding: 20px 5px;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.option-buttons .btn {
    width: 195px;
    text-align: center;
    margin: 5px 0;
}

h1.map-title, h2.map-title {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
}

.heading-class.mappage {
    border-bottom: 2px solid #c3392c;
}

.btn-yellow {
    color: black;
    font-weight: bold;
    background-color: #fff000;
    border-color: #dad546;
}

.btn-yellow.w-100 {
    width: 195px;
}

.w-77 {
    width: 77%;
}

#voenniymarker, #polkiimarker, #keysmarker, #exitsmarker, #dikiymarker, #playermarker, #dikiyexitmarker, #necessaryplaces {
    display: none;
    font-size: 12px;
    color: white;
}

#voenniymarker h2, #polkiimarker h2, #keysmarker h2, #exitsmarker h2, #dikiymarker h2, #playermarker h2, #dikiyexitmarker h2, #necessaryplaces h2 {
    margin-top: 0;
    padding-top: 5px;
}

#voenniymarker img, #polkiimarker img, #keysmarker img, #exitsmarker img, #dikiymarker img, #playermarker img, #dikiyexitmarker img, #necessaryplaces img  {
    max-width: 100%;
    box-shadow: 0px 0px 2px 1px;
    border: 1px solid #ffffff;
}

.red {
    color: #c74f27;
}

button:active, button:focus, label:active, label:focus, label {
    outline: none!important;
}
button::-moz-focus-inner, label::-moz-focus-inner, label {
    border: 0!important;
}

.leaflet-popup-content img {
    max-width: 100%;
    box-shadow: 0px 0px 15px 5px;
    border: 1px solid #d0cbcb;
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}

.mapcenter a.btn.btn-default.main-link {
    position: absolute;
    bottom: 20px;
    left:20px;
    z-index:1000;
    color: #ffffff;
    transition: .5s;
}

.mapcenter a.btn.btn-default.main-link:hover {
    color: black;
    transition: .5s;
}

.margin-top-15 {
    margin-top: 15px;
}

.marks {
    padding-top: 25px;
    font-size: 13px;
}

.static-description {
    color: white;
}

.outer-button {
    position: absolute;
    top: 373px;
    left: -36px;
    cursor: pointer;
}

.inner-button {
    position: absolute;
    top: 373px;
    left: -36px;
    display: none;
    cursor: pointer;
}

.preview-small-image {
    max-width: 100%;
    float: left;
    box-shadow: 1px 1px 5px 1px;
    border: 1px solid #9E9E9E;
    margin-right: 15px;
}

/*** Классы таблицы админки ***/
.customed tbody tr td {
    vertical-align: middle;
}

.customed tbody tr td img {
    max-width: 120px;
}
/*** Окончание админских классов ***/

.mfp-counter {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #CCC;
    font-size: 18px;
    line-height: 18px;
    white-space: nowrap;
}

.disqs-comments {
    margin-top: 50px;
}

.parent-container a {
    color: black!important;
    outline: none;
}

.parent-container img {
    box-shadow: 1px 1px 6px 2px;
}

/** В квесты **/
.tab-pane .parent-container img, .tab-pane a.image-link img.image-link{
    border: 1px solid white;
    box-shadow: 1px 1px 6px 2px;
}

.mfp-arrow-right:after {
    border-left: 17px solid #8BC34A;
}

.mfp-arrow-left:after {
    border-right: 17px solid #8BC34A;
}

.kek-recustom {
    padding: 20px;
    background: white;
    border: 1px solid white;
    border-radius: 5px;
}

.height-25 {
    height: 25px;
}
.item-key {
    margin: 5px 0;
    padding: 10px;
    background: gainsboro;
    border: 1px solid #c3392c;
    border-radius: 5px;
    max-height: 141px;
    height: 141px;
}

.item-key.detail {
    max-height: 100%;
    height: 100%;
}

.item-key p.item-content {
    display: inline-block;
    padding-left: 10px;
}

.item-key p.item-name {
    font-weight: bold;
}

p.item-name a {
    color: #c3392c;
    font-size: 18px;
}

p.item-name a:hover {
    color: cornflowerblue;
}

.f-left {
    float: left;
}

span.key-selector {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.form-control.key-selector {
    width: 200px;
    height: 37px;
    font-weight: normal;
    margin-top: 10px;
    display: inline;
    vertical-align: middle;
}

.btn.btn-primary.h-37 {
    margin-left: 15px;
    vertical-align: middle;
    display: inline;
    margin-top: -2px;
}

.item-key div.item-content {
    padding-left: 10px;
    display: block;
    width: 100%;
    max-width: 1010px;
}

#doorkeys-doorkey {
    width: 200px;
    display: inline-block;
}

.field-doorkeys-doorkey {
    padding-top: 10px;
    display: inline-block;
}

.btn span.glyphicon {
    opacity: 0;
}
.btn.active span.glyphicon {
    opacity: 1;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
border-top-left-radius: 5px!important;
border-bottom-left-radius: 5px!important;
}

.random-exits {
    display: none;
}

.d-block, .item-key div.item-content.d-block {
    display: block;
}

.margin-5 {
    margin:0 5px;
}

.loader-maps-background {
    background: #000000a3 repeat;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 9999;
    position: fixed;
    overflow: hidden;
}

.preloader_map {
    position: absolute;
    width: 200px;
    height: 110px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -55px;
}

.text-preloader {
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    background: #00000078;
    border-color: #3f3c37fc;
    text-align: center;
    font-weight: bold;
    width: 200px;
    height: 50px;
    left: 50%;
    top: 61%;
    margin-left: -100px;
    margin-top: -55px;
}

.item-content.d-block.w-100 {
    max-width: 100%;
}

.news-shortitem {
    padding: 10px;
    margin: 15px 0 15px 0;
    background: gainsboro;
    height: auto;
    min-height: 180px;
    border-radius: 5px;
    border: 2px solid #c3392c;
}

.news-short-title {
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    color: #c3392c;
}

.news-titleimage {
    max-width: 100%;
    width: 200px;
    float: left;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.news-shorttext {
    margin-top: 10px;
    font-size: 16px;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

a.news-link {
    color: #c3392c;
    transition: 0.5s;
    text-decoration: none;
}

a.news-link:hover {
    color: #337ab7;
    transition: 0.5s;
    text-decoration: none;
}

/** For admin styles DatePicker **/

.hasDatepicker {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.news-date {
    color: #6c6ce0;
    font-size: 16px;
    font-weight: bold;
}

.bg-white {
    background: white;
}

.news-short-text {
    font-size: 16px;
}

.maps-margin-top-30 {
    margin-top: 30px;
}

.nav.categories {
    background: white;
    border-radius: 5px;
}

.nav.categories > li > a {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
}

.nav-stacked.categories > li + li {
    margin-top: 0;
    margin-left: 0;
}

.nav.categories > li > a:hover {
    text-decoration: none;
    background-color: #4a76a8;
    color: white;
}

.nav.categories > li > a:focus {
    background: white;
    color: #337ab7;
}

.nav-pills.categories > li.active > a {
    color: #fff;
    background-color: #a2a2a2;
}

.categories-abs {
    position: absolute;
    top: 19px;
    right: 20px;
    color: #c3392c;
    cursor: pointer;
    font-size: 20px;
}

.children-cats {
    display: none;
}

li.level-2 {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 5px 0;
}

li.level-2.active {
    background: #b5e6ff;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

.level-2 a {
    width: 100%;
    text-align: left;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 0;
}

/** Important styles of store **/
.categories-menu li.relative > a + .dcjq-icon {
    position: absolute;
    display: block;
    right: 10px;
    top: 12px;
    width: 20px;
    background: url(/img/img-plus.png) no-repeat 0 center;
    cursor: pointer;
}

.categories-menu li.relative > a.active + .dcjq-icon {
    position: absolute;
    display: block;
    right: 10px;
    top: 12px;
    width: 20px;
    background: url(/img/img-minus.png) no-repeat 0 center;
    cursor: pointer;
}
/** End og Important styles of store **/

.fa-check-circle {
    color: #c3392c;
    font-size: 16px;
    padding-right: 5px;
}

li > a.admin-inline {
    display: inline-block;
    background: rgba(128, 128, 128, 0.29);
    font-weight: bold;
    text-align: center;
    color: #337ab7;
    width: 300px;
    padding: 14.7px 5px;
    border-radius: 4px;
    text-decoration: none;
}

li > a.admin-inline:hover {
    background: cornflowerblue;
    font-weight: bold;
    color: black;
}

.nav-pills > div > li.d-inline  {
    display: inline;
}

.nav-pills > div > li.category-admin-margins {
    margin-top: 30px;
    margin-left:20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

/*** Bootstrap labels ***/

.label, .badge {
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.label-important, .badge-important {
    background-color: #b94a48;
}

.label-success, .badge-success {
    background-color: #468847;
}

.label-warning, .badge-warning {
    background-color: #f89406;
}

.label-info, .badge-info {
    background-color: #3a87ad;
}

.label-inverse, .badge-inverse {
    background-color: #333333;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

/**** Recustom Magnific Arrows of 26_01_2018 ****/

.mfp-arrow-left {
    left: 150px;
}

.mfp-arrow-right {
    right: 150px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #ff0909;
}

.mfp-arrow-right:before {
    border-left: 27px solid #ff0000;
}

.mfp-arrow {
    opacity: 1;
}

.margin-top-20 {
    margin-top: 20px;
}

.custom-key-margin {
    margin: 2px 7px;
}

.margin-top-20 {
    margin-top: 20px;
}

/*** Стили оформления лута ***/
.col-lg-12 .item-loot {
    min-height: 200px;
    height: auto;
    margin: 10px 0;
    padding: 20px;
    background: gainsboro;
    border-radius: 5px;
    border: 1px solid #c3392c;
}

.item-loot-title {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.item-loot-title a {
    color: #c3392c;
}

.item-loot-title a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.loot-image {
    float: left;
    margin: 5px 10px 5px 0;
    border: 1px solid white;
    box-shadow: 1px 1px 20px;
    max-width: 100%;
    background: #343739;
}

.loot-description {
    font-size: 16px;
}

a.loot-link {
    color: black;
}

.loot-tables {
    width: 100%;
    max-width: 100%;
}

.loot-tables-second {
    width: 100%;
    max-width: 100%;
}

.loot-tables tr td {
    padding: 10px;
    border: 2px solid #0e2077;
}

.loot-tables tr:first-child {
    background: #7284c1;
    color: white;
    border: 2px solid #7284c1;
}

.custom-admin-div {
    padding: 10px;
    border: 2px solid #c3392c;
    border-radius: 5px;
}

img.w-100-auto {
    max-width: 100%;
    width: auto
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.fix-tables {
    overflow-x: auto;
    width: 100%;
}

.fix-tables table {
    margin-bottom: 5px;
}

.fix-tables::-webkit-scrollbar {
   background: #ffffff03;
    margin-top: 5px;
    padding-top: 10px;
}

.fix-tables::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-button {
    width: 17.5px;
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(/img/navigation/right-arrow.png);
    background-position: -1px;
    background-color: #fff0;
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(/img/navigation/left-arrow.png);
    background-color: #fff0;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(/img/navigation/bottom-arrow.png);
    background-position: -1px;
    background-color: #fff0;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(/img/navigation/top-arrow.png);
    background-color: #fff0;
}

.unactive-skill {
    margin-left: 90px;
}

/*** Стили для Вовчика ***/

.solid-green {
    border: 1px solid green;
    border-radius: 3px;
}

.solid-orange {
    border: 1px solid #FFA500;
    border-radius: 3px;
}

/*** Окончание стилей для Вовчика ***/

.tarkov-alert p.text-run, .tarkov-good p.text-run {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.tarkov-alert {
    padding: 20px;
    background: url(/img/status_smg.png) no-repeat 100% 4px;
    border-radius: 10px;
}

.tarkov-good {
    padding: 20px;
    background: url(/img/status_smg_good.png) no-repeat 100% 4px;
    border-radius: 10px;
}

.bitkoin {
    position: fixed;
    top: 13px;
    left: 20px;
    z-index: 9999;
}

.bitkoin_text {
    display: inline-block;
    font-size: 14px;
    color: #d1b13a;
    font-weight: bold;
    padding: 0 5px;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #ff3f2d;
}

#items-questitem {
    width: 200px;
    display: inline-block;
}

.field-items-questitem {
    padding-top: 10px;
    display: inline-block;
}


.custom-margin-top {
    margin-top: 70px;
}

.question-block {
    padding: 10px;
    margin: 15px 0 15px 0;
    background: #ffffff;
    height: 100%;
    min-height: 130px;
    border-radius: 5px;
    border: 2px solid #c3392c;
    padding-bottom: 55px;
}

.opener em {
    display: none;
}

.ajax-image-preview {
    max-width: 50px;
    float: left;
    margin: 5px 10px;
    box-shadow: 1px 1px 20px;
    color:black;
    border: 1px solid white;
}

.ajax-preview-title {
    color: #c3392c;
    font-size: 16px;
    padding-top: 2px;
}

.ajax-result {
    padding: 5px 0;
}

.ajax-result  a .repo-description {
    text-decoration: none;
}

.ajax-livesearch {
    padding: 20px;
    background: gainsboro;
    border-radius: 5px;
    border: 1px solid #c3392c;
}

.top-content {
    padding: 20px;
    background: gainsboro;
    border: 1px solid #c3392c;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tt-scrollable-menu .tt-menu {
    max-height: 386px;
}

.tt-menu .tt-suggestion {
    padding: 0;
    margin: 3px 20px;
}

.bg-question-grey {
    background: #cecece!important;
}

.h2-spoilers {
    margin-top: 5px;
    font-size: 24px;
}

.spoilers-btn {
    position: absolute;
    top: -40px;
    right: 10px;
}

.spoilers-block {
    padding: 10px;
    margin: 15px 0 15px 0;
    background: #ffffff;
    height: 100%;
    min-height: 60px;
    border-radius: 5px;
    border: 2px solid #c3392c;
}

/*** Общий цвет для всех кнопок на интерактивных картах, в дальнейшем можно доработать ***/
.map_buttons p {
    color: #feae0c;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    text-decoration: line-through;
}

.btn-group.w-100, label.w-100 {
    width: 100%;
}

.map_buttons p i {
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    top: 2px;
    text-align: center;
}

/*** Кастомные иконки интерактивных маркеров ***/

.dikie-b i {
    background: url('/img/mapicons/dikie.png');
    background-size: 15px 15px;
}

.gamers-b i {
    background: url('/img/mapicons/chvk.png');
    background-size: 15px 15px;
}

.bandits-b i {
    background: url('/img/mapicons/ikon_dikiy_exit.png');
    background-size: 15px 15px;
}

.exits-b i {
    background: url('/img/mapicons/chvk_exit.png');
    background-size: 15px 15px;
}

.voenka-b i {
    background: url('/img/mapicons/voen-yaj.png');
    background-size: 15px 15px;
}

.polki-b i {
    background: url('/img/mapicons/quest_icon2.png');
    background-size: 15px 15px;
}

.keys-b i {
    background: url('/img/mapicons/keys.png');
    background-size: 15px 15px;
}

.places-b i {
    background: url('/img/mapicons/whatis.png');
    background-size: 15px 15px;
}

/*** Стили для кнопок маркеров ***/

.map_buttons p.unthrough {
    text-decoration: none;
}

.through {
    text-decoration: line-through;
}

.markers-off, .markers-on, .count-off, .count-on {
    text-decoration: none!important;
}

.map_buttons p span.count-markers-global {
    margin: 0 0 0 5px;
    padding: 0px;
    text-decoration: none!important;
    background: white;
    border-radius: 5px 5px 5px 5px;
    color: #f73927;
    width: 30px;
    display: inline-block;
    text-align: center;
    float: right;
}

.auth-info {
    background: #cdcecf;
    padding: 20px;
    border: 2px solid #c3392c;
    border-radius: 5px;
}

.auth-title {
    font-size: 18px;
    font-weight: bold;
}

p.auth-info {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    background: none;
    border: 0;
}

.exits-icon-admin {
    max-width: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.currencies-content {
    background: white;
    padding: 20px;
    font-size: 16px;
}

.font-currencies {
    font-size: 16px;
    color: black;
}

.valute-course {
    font-size: 16px;
    color: #7289da;
    font-weight: bold;
}

.curencies-title {
    color: #c3392c;
}

#mdl_ctnr{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    text-align: center;
    z-index: 9999;
}

#mdl_ctnr:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}


#mdl_adb{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    background: #c3392c;
    border-radius: 5px;
    z-index: 9999;
    width: 380px;
    padding: 40px 10px 10px;
    color: #fff;
}

#mdl_adb h3{
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
}

#mdl_adb a{
    color:#fff;
    text-decoration:underline;
    display:block;
    padding:5px 0;
    margin:10px 0;
    font-weight:bold;
}

.msg_close{
    display:block;
    position:absolute;
    background:#292C33;
    top:0;
    left:165px;
    line-height:25px;
    font-weight:bold;
    width:50px;
    height:25px;
    text-align:center;
    color:#fff;
    cursor:pointer;
    -webkit-border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.msg_close:hover{
    background:#fc0;
    color:#000;
}

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {transform: scale(0.7);opacity: 0.5;}
    80% {transform: scale(1.1);}
    100% {transform: scale(1);opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {-webkit-transform: scale(0.7);opacity: 0.5;}
    80% {-webkit-transform: scale(1.1);}
    100% {-webkit-transform: scale(1);opacity: 1;}
}

.styled-ad-text {
    padding: 5px 0;
    line-height: 25px;
}

.ads-heading-styled {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 15px;
}

.no-adb {
    margin: 0 0 20px 0;
}

.recommended-gm-content {
    margin: 10px auto;
}

.barters.nav > li > a {
    position: relative;
    display: block;
    width: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/** Styles of gamepedia tables **/
table.wikitable {
    background-color: transparent;
    border-color: #303030;
    font-family: sans-serif;
}

table.wikitable {
    margin: 1em 0;
    background-color: gainsboro;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    color: #000;
    overflow-x: scroll;
    width: 100%;
    max-width: 100%;
    min-width: 823px;
}

table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td {
    border: 2px solid #0e2077;
    text-align: center;
    padding: 5px;
}

/** Фон для всех карт сделан - Черно-серый */
#map {
    background: #333;
}

.fixies-float-image {
    display: inline;
}

.icons-soc {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.tt-input.loading {
    color: white;
}

.vk-useridentity-vote, .vk-gifts-take {
    width: 500px;
    height: 660px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -330px;
    margin-left: -250px;
    z-index: 99999;
    display: none;
    background: #ffffff;
    border-radius: 5px;
}

.rl-pos {
    position: relative;
}

.rl-pos .mx-100 {
    max-width: 100%;
    position: absolute;
    right: 5px;
    top: 5px;
}

.mx-100.close-vote {
    cursor: pointer;
}

.comment-fake-side {
    background: #ffffff;
    border-radius: 5px;
    padding: 0;
}

.alert-close-icon {
    max-width: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.news-shortitem a img.image-link {
    max-width: 100%;
    height: auto!important;
}

.video-block {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 15px 0;
}

.video-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vk-gifts-take p {
    color: black;
}

p.title-block-gifts {
    margin: 40px 0 25px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #c3392c;
}

p.block-gifts-desc {
    padding: 25px;
    font-size: 15px;
    color: black;
}

.link-to-vk {
    text-align: center;
}

.link-to-vk a {
    font-size: 16px;
    font-weight: bold;
}

.games-gifts {
    text-align: center;
}

.games-gifts img {
    max-width: 90%;
    box-shadow: 2px 1px 40px;
    border-radius: 5px;
    border: 2px solid #c3392c;
}

.gifts-link {
    color: black!important;
}

.margins-vertical-20 {
    margin: 20px 0;
}

.custom-items-list-search {
    padding: 20px;
    background: #00000012;
    border-radius: 5px;
    border: 2px solid #c3392c;
}

.adm-blue {
    color: #337ab7;
}

.customed-labels-adm {
    padding: 10px;
    font-size: 14px;
}

.customed-labels-adm.label-danger {
    background-color: #d9534f;
}

.news-titleimage.block-disp {
    display: block;
    float: initial;
}

h3.clan-title {
    color: #074e71;
    text-decoration: none;
}

.clan-block {
    padding: 10px;
    margin: 15px auto;
    border: 2px solid #c3392c;
    border-radius: 5px;
    height: auto;
    min-height: 200px;
}

.clan-img {
    max-width: 100%;
    float: left;
    margin: 0 10px 0 0;
}

.clan-community-link {
    font-size: 16px;
}

a.clan-community-link {
    font-weight: bold;
}

.fa.checked-by-admins {
    color: #1d921b;
    font-size: 20px;
    padding-right: 5px;
    margin-left: 5px;
}

.clans-content.special-border {
    border: 2px solid #c3392c;
    border-radius: 5px;
}

.vs-none {
    display: none!important;
}

.mx-100 {
    max-width: 100%;
}

.bordered-recomend {
    border: 1px solid white;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.col-lg-9.col-md-9.col-sm-12.col-xs-12.nulled-pdng {
    padding: 0;
}

.fixible-block {
    padding-right: 15px!important;
    padding-left: 15px!important;
}

.item-key.fix-block {
    max-height: 180px;
    height: 180px;
    border: 1px solid #c3392c!important;
    border-radius: 5px!important;
    margin: 5px 0!important;
    padding: 15px 5px 5px 5px!important;
}

.article-stats-padding {
    padding: 15px 10px!important;
}

.static-height-afm {
    min-height: 180px!important;
    max-height: 230px!important;
    height: auto;
    margin: 15px 0 15px 0!important;
    display: block;
}

.col-lg-12.gor-pds {
    padding: 15px 0!important;
}

.gor-pds .no-adb {
    margin: 0!important;
}

html>div {
    width:100%;
    min-height:100%;
    background-color: #000000e0;
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 99999;
}
html>div>div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 320px;
    margin: auto;
    /* margin:400px auto 0px auto;
    width:50%;
    height: 500px;*/
    padding:10px;
    background-color: #ffffff;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.size-18 {
    font-size: 18px;
}

.contact-info {
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
}

.contact-info a {
    color: #6689da;
    font-weight: bold;
    letter-spacing: 1px;
}

.donate-info {
    padding: 0 0 15px 0;
    text-align: center;
    font-size: 16px;
}

.donate-info a {
    color: #7289da;
    font-weight: bold;
}

.reviews-form {
    margin: 15px 0 25px 0;
}

#reviews-comment {
    max-width: 807px;
    width: 100%;
}

.navbar-default .navbar-nav > li.unusial-link > a, .navbar-default .navbar-nav > li.unusial-link > a {
    background: #c3392c82;
    font-weight: bold;
    color: white;
    transition: .2s;
}

.navbar-default .navbar-nav > li.unusial-link > a:hover, .navbar-default .navbar-nav > li.unusial-link > a:focus {
    background: #c3392c82;
    font-weight: bold;
    color: #8fa3ea;
    transition: .2s;
}

.size-donates {
    font-size: 30px;
}

.size-donates span {
    color: green;
}

table.patrons-tbl >thead > tr > th {
    text-align: center;
    padding: 5px 15px;
}

.patrons-tbl.loot-tables tbody tr:first-child {
    background: #fff;
    color: black;
    border: 2px solid black;
}

.patrons-table, .patrons-tbl {
    height: 500px;
}

.patrons-table .fix-tables {
    height: 500px;
}

.sticky-pos {
    position: sticky;
    top: -1px;
    z-index:999;
}

.patrons-tbl.loot-tables tr td {
    padding: 10px;
    border: 2px solid #7284c1;
}

.pos-sticky-left {
    position: sticky;
    left:-1px;
    z-index: 1000;
    background: #515972;
}

.pos-sticky-left-2 {
    position: sticky;
    left:91px;
    z-index: 1000;
    background: #515972;
}

.apt-pos-sticky-left {
    position: sticky;
    left:-1px;
    z-index: 800;
    background: #515972;
    color: #fff;
}

.apt-pos-sticky-left-2 {
    position: sticky;
    left:90px;
    z-index: 800;
    background: #515972;
    color: #fff;
}

.overlay-block {
    width: 100%;
    position: fixed;
    max-height: 200px;
    min-height: 90px;
    height: auto;
    bottom: 0;
    background: #d3d2d2;
    z-index: 1000;
    text-align: center;
    color: white;
    font-size: 18px;
    -webkit-backface-visibility: hidden;
}

.cls-btn {
    width: 146px;
    height: 29px;
    background-color: #c3392c;
    position: absolute;
    top: -29px;
    right: 0;
    padding: 2px 0 0 0;
    cursor: pointer;
    color: #fdfffb;
    font-size: 18px;
    text-align: center;
}

/** Заголовки для названий карт на страницах боссов **/
.boss-map-heading {
    color: #c3392c;
    font-size: 21px;
    font-weight: bold;
}

/** Стили для изображений локаций на страницах боссов **/
.boss-maps-img {
    max-width: 300px;
    height: 100%;
    max-height: 190px;
}

/** Стили для изображения босса **/
.boss-image {
    max-width: 150px;
    border: 1px solid #ff212140;
    box-shadow: 1px 1px 1px;
    width: 100%;
}

/** Стили для изображения иконки **/
.item-page-image {
    max-width: 104px;
    border: 1px solid #ff212140;
    box-shadow: 1px 1px 1px;
    width: 100%;
}

/** Подложка для босса - нужна для адекватного вида контента **/
.boss-page-bg {
    padding: 10px;
    background: #80808042;
    border: 2px solid #c3392c;
    border-radius: 5px;
    margin: 10px 0;
}

/** Стили для отображения страниц с лутом **/
.boss-page-text, .item-page-text {
    font-size: 20px;
}

/** Стили для отображения страниц с лутом **/
.item-page-text.small-v {
    font-size: 14px;
}

/** Изображения торговца для страницы лута **/
.item-page-trader {
    max-width: 60px;
}

/** Оформление формы поиска предметов **/
.form-search-block {
    padding: 15px;
    background: #80808029;
    border: 2px solid #c3392c;
    border-radius: 5px;
}

/**  Стили для картинки на детальной странице лута **/
.detail-item-image {
    max-width: 400px;
    width: 100%;
}

/** Описание на детальных страницах лута **/
.detail-item-text {
    vertical-align: top;
    font-size: 18px;
    margin: 0 0 15px 15px;
}

/** Стили для трейдера на детальной странице лута **/
.detail-item-trader {
    max-width: 80px;
}

/** Блок купли и продажи **/
.selling-block, .buying-block, .barters-block-actual, .received-block {
    padding: 10px;
    background: #80808033;
    margin: 20px auto;
}

/** Стили для блока бартеров **/
.barter-items-count {
    padding: 5px;
    background: #9ac39b;
    margin: 5px 0;
}

/** Стили для промежуточного тайтла на страницах предметов **/
.title-of-item-block {
    font-size: 20px!important;
    font-weight: bold;
    background: #e7e7ff;
    display: block;
    margin: 10px 0;
    padding: 5px;
}

/** Стили для описаний атрибутов предметов и торговцев **/
.detail-item-barter-info, .detail-item-trader-price {
    font-size: 16px;
}

/** Подложка в списке блоков на главной странице **/
.item-block-variables {
    padding: 10px;
    background: #b7caed;
    margin: 10px 0;
}

/** Прогресс бар - для отображения здоровья боссов **/
.custom-bar {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}

/** Стили для чекбоксов слоев и элементов управления, на карте Leaflet */
.ScawsControl, .ChvkControl, .KeysControl, .ChkafControl, .MainControls, #FirstMap, #SecondMap, #ThirdMap, .ArmyControl, .PlacesControl,
.QuestControl, .ExitsControl, .DikieExitsControl {
    margin: 0 5px 0 0!important;
    vertical-align: middle;
}

/** Отступ от краев элементов управления Leaflet JS */
.leaflet-control-layers {
    padding: 10px;
}

/** Отступ чекбоксов друг от друга внутри Leaflet JS элементов управления */
.leaflet-control-layers.leaflet-control > .all-map-blocks > .form-control {
    margin: 10px 0;
}

/** Отступы и ресайз для картинок на главной странице */
.preview-mainpage-desc {
    margin: 15px 0;
    max-width: 360px;
}

/** Иконка торговца что выдает квест */
.trader-quest-icon {
    max-width: 150px;
    width: 100%;
    margin: 10px 0 0 0;
}

/** Отступы для блока с ключами, необходимыми для выполнения квеста */
.keys-for-quest {
    padding: 10px;
    background: #80808033;
    margin: 10px auto;
}

/** Стили для иконки, позволяющей менять стили сайта */
.js-change-site-style.fa {
    position: absolute;
    top: 11px;
    right: 30px;
    color: orange;
    cursor: pointer;
    z-index: 9999;
    width: 24px;
    height: 24px;
}

/** Стили для формы обратной связи */
.js-feedback-form.fa {
    position: absolute;
    top: 11px;
    right: 70px;
    color: orange;
    cursor: pointer;
    z-index: 9999;
}

/** Стили для заголовка с блоком предмета из списка актуального лута */
h2.actual-items-block-title {
    margin-top: 0;
    margin-bottom: 20px;
}

/** Отступ для иконок на страницах справочника актуального лута */
.fa.checked-by-admins.actual-items-block {
    margin-left: 16px;
}

/** Отступ для горизонтального контейнера на интерактивных картах */
.container.special-padding {
    padding: 0 15px 0px;
}

/** Регулируем ширину текстового блока, максимально возможная ширина */
#feedbackform-content {
    max-width: 1096px!important;
}