/*** ���� ������ ��������� Escape from Tarkov ***/

body {
    background: #edeef0;
    overflow-x: hidden;
    width: 100%;
    max-width:100%;
}

.content-style {
}

.fixed-navigatsiya {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

/* ��� ���������� ������� */
.h-52 {
    max-height: 52px;
    height: 52px;
}

.navbar-default {
    background-color: #000000;
    border-color: #000000;
}

.navbar {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #c3392c;
    box-shadow: 0px 1px 4px;
}

.relative {
    position: relative;
}

.logo-img {
    position: absolute;
    top: 5px;
    left: -80px;
    width: 100px;
}

.navbar-default .navbar-nav > li > a {
    color: #edeef0;
    font-size: 18px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #edeef0;
    background-color: rgba(255, 152, 0, 0.47);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(237, 238, 240);
    font-weight: bold;
}

/*** ������ ������ ����� ��������� ***/
.nav > li > a {
    position: relative;
    display: block;
    padding: 14.7px 5px;
    width: 200px;
    text-align: center;
}

footer {
    background-color: #272727;
    color: #fff;
    height: 64px;
    border-top: 2px solid #c3392c;
    box-shadow: 0px 1px 4px;
}

footer h5 {
    padding: 0 0 5px;
    color: #c3392c;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer .list-unstyled li a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 0.6px;
}

footer .list-unstyled li a:hover {
    color: #c74f27;
}

.footer-bottom {
    background: #1F1F1F;
    margin-top: 30px;
}

.pay {
    margin-bottom: 15px;
}

.copyright {
    font-size: 16px;
    padding-top: 20px;
}

.copyright a {
    color: yellow;
    text-decoration: none;
}

.main-link, .main-inter-link {
    color: #fff;
    font-size: 16px;
    background: #272727;
    border: 2px solid #c3392c;
    transition: .5s;
}

.main-link:hover, .main-inter-link:hover {
    color: black;
    background: white;
    border-color: #5cb85c;
    transition: .5s;
}

.size-16 {
    font-size: 16px;
}

.mobile-brand {
    display: none;
}

.interback-grey {
    padding: 50px;
    background: #eaeaea;
}

.interback-white {
    padding: 50px;
    background: white;
}

.traders-desc {
    font-size: 16px;
}

.float-right {
    float: right;
}

.grey-line {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 0;
}

.main-site-heading {
    color: #c3392c;
}

.heading-class {
    padding: 50px 0 10px 0;
    background: white;
}

a .image-trader, .image-trader a:hover {
    max-width: 100%;
    box-shadow: 1px 1px 20px 3px;
    margin: 25px 0 0 0;
    color: #000000;
}

.wrap > .container.padding-top-0 {
    padding-top: 0;
}

.jumbotron-main {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    border: 1px solid #c3392c;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #3F51B5;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #c3392c;
    font-size: 6px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-carousel .owl-buttons .owl-prev {
    left: 10px;
    width: 40px;
    height: 40px;
    padding: 13px;
    position: absolute;
}

.owl-carousel .owl-buttons .owl-next {
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 15px;
    position: absolute;
}

.owl-carousel .owl-buttons div i {
    font-size: 34px;
    margin: -20px 0 0;
    color: #FF5722;
}

.owl-carousel .owl-buttons div i:hover {
    cursor: pointer;
}

.owl-buttons {
    position: absolute;
    top: 40%;
    max-width: 100%;
    width: 100%;
}

a.scup i {
    margin-top: 10px;
    color: #c74f27;
    font-size: 47px;
}

.scup {
    position: fixed;
    z-index: 1010;
    bottom: 80px;
    right: 10px;
    display: none;
}

a.scup {
    outline: 0;
    text-align: center;
}

a.scup i:hover {
    text-decoration: none;
    color: #919191;
}

h2 a {
    color: #000000;
    text-decoration: none
}

h2 a:hover {
    color: #c3392c;
    text-decoration: none
}

.mobile-small-logo {
    display: none;
}

.bs-docs-sidenav {
    width: 258px;
}

.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.nav.nav-list.bs-docs-sidenav.affix li a, .nav.nav-list.bs-docs-sidenav li a {
    background: white;
}

.nav.nav-list.bs-docs-sidenav.affix li.active a, .nav.nav-list.bs-docs-sidenav li.active a {
    background: rgb(216, 216, 216);
    color: #c3392c;
    font-weight: bold;
}

.nav.nav-list.bs-docs-sidenav.affix > li > a, .nav.nav-list.bs-docs-sidenav > li > a {
    text-align: left;
    color: rgba(0, 0, 0, 0.68);
    width: 100%;
    font-size: 15px;
}

ul li a.relative i {
    position: absolute;
    right: 5px;
    top: 12px;
}

.fixed-nav-top-145 {
    top: 145px;
}

.torgovec-info-quest-image {
    max-width: 100%;
    margin: 5px;
    box-shadow: 1px 1px 20px 3px;
    border: 1px solid #9E9E9E;
}

.quests-content {
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.padding-top-110 {
    padding-top: 110px!important;
}

.admin-tabs, .nav > li > a.admin-tabs, .nav > li > a.admin-tabs:active, .nav > li > a.admin-tabs:focus {
    background: rgba(128, 128, 128, 0.29);
    font-weight: bold;
    text-align: center;
    color: #337ab7;
}

.nav > li > a.admin-tabs:hover {
    background: cornflowerblue;
    font-weight: 100;
    color: black;
    font-size: 18px;
}

.nav > li > a.admin-tabs.unactive, .nav > li > a.admin-tabs.unactive:hover, .nav > li > a.admin-tabs.unactive:active, .nav > li > a.admin-tabs.unactive:focus {
    cursor: no-drop;
    background: grey;
    color: rgb(255, 255, 255)!important;
    font-size: 14px;
    font-weight: bold;
}

.w-100-important {
    width: 100%!important;
    max-width: 100%!important;
}

.w-200 {
    width: 200px;
}

.admin-title-main {
    padding-bottom: 40px;
    color: #c3392c;
    font-weight: 500;
}

.glyphicon.glyphicon-eye-open, .glyphicon.glyphicon-pencil, .glyphicon.glyphicon-trash {
    margin: 0 10px;
}

.table.table-striped.table-bordered {
    text-align: center;
}

.tab-pane.active p {
    font-size: 16px;
    padding-bottom: 10px;
}

a.image-link, a.image-link:hover, a.image-link:focus, a.image-link:active {
    color: black!important;
    outline: none;
}

a .image-link img, a.image-quests img  {
    border: 1px solid white;
    box-shadow: 1px 1px 6px 2px;
}

a.image-quests img, img.quests-small  {
    border: 1px solid white;
    box-shadow: 1px 1px 6px 2px;
    color: black!important;
    outline: none;
}

a.image-quests:focus {
    color: black!important;
    outline: none!important;
}

.container-1920 {
    width: 1920px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.map__full {
    max-width: 100%;
}

.white-content {
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.map-heading {
    color: #c3392c;
}

.maps__small {
    max-width: 100%;
    margin-top: 10px;
}

.right__content {
    width: 500px;
    height: 748px;
    background: black;
    z-index: 9999;
    position: relative;
    right:0;
    float: right;
    border-left: 2px solid #c3392c;
}

h2.white {
    color: white;
    text-align: center;
}

.map#map {
    width: 100%;
    height: 710px;
    position: relative;
}

.optins_layerstability {
    width: 437px;
    position: absolute;
    right: 0;
    top: 183px;
    height: 710px;
    background: black;
    display: block;
    z-index: 999;
    border-left: 2px solid #c3392c;
}

#mapCoords {
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 150px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-family: "Lucida Console",monospace;
    background-color: #404040;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.option-buttons {
    padding: 20px 5px;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.option-buttons .btn {
    width: 195px;
    text-align: center;
    margin: 5px 0;
}

h1.map-title {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
}

.heading-class.mappage {
    border-bottom: 2px solid #c3392c;
}

.btn-yellow {
    color: black;
    font-weight: bold;
    background-color: #fff000;
    border-color: #dad546;
}

.btn-yellow.w-100 {
    width: 195px;
}

.w-77 {
    width: 77%;
}

#voenniymarker, #polkiimarker, #keysmarker, #exitsmarker, #dikiymarker, #playermarker {
    display: none;
    font-size: 12px;
    color: white;
}

#voenniymarker h2, #polkiimarker h2, #keysmarker h2, #exitsmarker h2, #dikiymarker h2, #playermarker h2 {
    margin-top: 0;
    padding-top: 5px;
}

#voenniymarker img, #polkiimarker img, #keysmarker img, #exitsmarker img, #dikiymarker img, #playermarker img {
    max-width: 100%;
    box-shadow: 0px 0px 2px 1px;
    border: 1px solid #ffffff;
}

.red {
    color: #c74f27;
}

.voenka-b.active {
    color: #fff;
    background-color: #5c8e5c!important;
    border-color: #5c8e5c!important;
    box-shadow: inset 0px 0px 2px 2px;
}

.dikie-b.active {
    color: #fff;
    background-color: #d9534f!important;
    border-color: #d9534f!important;
    box-shadow: inset 0px 0px 2px 2px;
}

.polki-b.active {
    color: #fff;
    background-color: #286090!important;
    border-color: #286090!important;
    box-shadow: inset 0px 0px 2px 2px;
}

.exits-b.active {
    color: black!important;
    background-color: #d4d4d4!important;
    border-color: #d4d4d4!important;
    box-shadow: inset 0px 0px 8px 1px;
}

.keys-b.active {
    color: black;
    background-color: #fff000!important;
    border-color: #fff000!important;
    box-shadow: inset 0px 0px 2px 2px;
}

.gamers-b {
    background: #FFC107;
    color: black;
}

.gamers-b.active {
    color: white;
    background-color: #FFC107!important;
    border-color: #FFC107!important;
    box-shadow: inset 0px 0px 2px 2px;
}

button:active, button:focus {
    outline: none!important;
}
button::-moz-focus-inner {
    border: 0!important;
}

.leaflet-popup-content img {
    max-width: 100%;
    box-shadow: 0px 0px 15px 5px;
    border: 1px solid #d0cbcb;
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}

.mapcenter a.btn.btn-default.main-link {
    position: absolute;
    bottom: 20px;
    left:20px;
    z-index:1000;
    color: #ffffff;
    transition: .5s;
}

.mapcenter a.btn.btn-default.main-link:hover {
    color: black;
    transition: .5s;
}

.margin-top-15 {
    margin-top: 15px;
}

.marks {
    padding-top: 15px;
    font-size: 13px;
}

.static-description {
    color: white;
}

.outer-button {
    position: absolute;
    top: 420px;
    left: -36px;
}

.inner-button {
    position: absolute;
    top: 420px;
    left: -36px;
    display: none;
}

.preview-small-image {
    max-width: 100%;
    float: left;
    box-shadow: 1px 1px 5px 1px;
    border: 1px solid #9E9E9E;
    margin-right: 15px;
}