
/*** col-md screen size (1199px) ***/
@media (max-width: 1199px) {

    .interback-white, .interback-grey {
        padding: 20px 0;
    }

    .bs-docs-sidenav {
        width: 218px;
    }

    .right__content {
        width: 300px;
    }

}


/*** col-sm screen size (991px) ***/
@media (max-width: 991px) {

    .nav > li > a {
        position: relative;
        display: block;
        padding: 15px;
        width: auto;
        text-align: center;
    }

    .mobile-text-center {
        text-align: center;
    }

    a .image-trader, .image-trader a:hover {
        margin: 0;
    }

    .bs-docs-sidenav {
        width: 100%;
    }

    .sm-vertical-margin-20 {
        margin: 20px 0;
    }

    .quests-content {
        margin-top: 20px;
    }

    footer {
        height: auto;
    }

}

/*** col-xs screen size (767px) ***/
@media (max-width: 767px) {

    .navbar-brand {
        padding: 0;
    }

    .logo-img {
        position: absolute;
        top: 15px;
        left: 0;
        width: 200px;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: rgb(220, 55, 55);
        background-color: rgba(237, 238, 240, 0);
        font-weight: bold;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: rgba(231, 231, 231, 0);
    }

    .mobile-brand {
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
        font-size: 16px;
        color: #edeef0;
        font-weight: bold;
    }

    .mobile-brand:hover {
        color: #edeef0;
        font-weight: bold;
        text-decoration: none;
    }

    .mobile-display-none {
        display: none;
    }

    .mobile-brand {
        left: 80px;
        font-size: 13px;
    }

    .mobile-small-logo {
        display: block;
        width: 70px;
        position: absolute;
        top: 16px;
        left: 5px;
    }

    .navbar-default .navbar-brand {
        color: #777;
        display: none;
    }

    a .image-trader, .image-trader a:hover {
        margin: 10px 0 35px 0;
    }

    .float-right {
        float: initial;
    }

    .nav li > form > button.logout {
        text-align: center;
    }

    .optins_layerstability {
        right: -327px;
        width: 327px;
    }

    .outer-button {
        display: none;
    }

    .inner-button {
        display: block;
    }

}

