/*** Hide bitkoin ***/
@media (max-width: 1805px) {
    .bitkoin {
        display: none;
    }
}

/*** Custom media for Magnific ***/
@media (max-width: 1500px) {
    .mfp-arrow-left {
        left: 0;
    }

    .mfp-arrow-right {
        right: 0;
    }
}


/*** col-md screen size (1199px) ***/
@media (max-width: 1199px) {

    .interback-white, .interback-grey {
        padding: 20px 0;
    }

    .bs-docs-sidenav {
        width: 218px;
    }

    .right__content {
        width: 300px;
    }

    .item-key div.item-content {
        max-width: 810px;
    }

    .navbar-brand {
        height: 0px;
        padding: 0px;
    }

    .navbar-default .navbar-nav > li > a {
        color: #edeef0;
        font-size: 14px;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 20px 5px;
        width: auto;
        text-align: center;
    }

    footer {
        height: auto;
    }

    .tarkov-alert {
        padding: 20px;
        background: url(/img/status_smg.png) no-repeat 1%;
        border-radius: 10px;
    }

    .tarkov-good {
        padding: 20px;
        background: url(/img/status_smg_good.png) no-repeat 1%;
        border-radius: 10px;
    }

}


/*** alert custom breakpoint (1020px) ***/
@media (max-width: 1020px) {
    .about-us {
        height: 140px;
    }

    .alert-close-icon {
        max-width: 50px;
        position: absolute;
        right: 30px;
        top: 47px;
        cursor: pointer;
    }
}


/*** col-sm screen size (991px) ***/
@media (max-width: 991px) {

    .nav > li > a.relative {
        padding-left: 15px;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 0px;
        width: 95px;
        text-align: center;
    }

    .navbar-default .navbar-nav > li > a {
        color: #edeef0;
        font-size: 14px;
    }

    .mobile-text-center {
        text-align: center;
    }

    .mobile-btn-margin {
        margin: 10px auto;
    }

    a .image-trader, .image-trader a:hover {
        margin: 0;
    }

    .bs-docs-sidenav {
        width: 100%;
    }

    .sm-vertical-margin-20 {
        margin: 20px 0;
    }

    .quests-content {
        margin-top: 20px;
    }

    .item-key div.item-content {
        max-width: 590px;
    }

    .item-key {
        max-height: 160px;
        height: 160px;
    }

    .news-titleimage {
        max-width: 200px;
        width: 200px;
        float: left;
        border: 1px solid grey;
        box-shadow: 1px 1px 1px;
        margin-top: 0;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .news-shortitem {
        height: auto;
    }

    .maps-margin-top-30 {
        margin-top: 0;
    }

    .icons-soc {
        margin-bottom: 15px;
    }

}

/*** col-xs screen size (767px) ***/
@media (max-width: 767px) {

    .nav > li > a {
        position: relative;
        display: block;
        padding: 14.7px 5px;
        width: 100%;
        text-align: center;
    }

    .navbar-brand {
        padding: 0;
    }

    .logo-img {
        position: absolute;
        top: 15px;
        left: 0;
        width: 200px;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: rgb(220, 55, 55);
        background-color: rgba(237, 238, 240, 0);
        font-weight: bold;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: rgba(231, 231, 231, 0);
    }

    .mobile-brand {
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
        font-size: 16px;
        color: #edeef0;
        font-weight: bold;
    }

    .mobile-brand:hover {
        color: #edeef0;
        font-weight: bold;
        text-decoration: none;
    }

    .mobile-display-none {
        display: none;
    }

    .mobile-brand {
        left: 80px;
        font-size: 13px;
    }

    .mobile-small-logo {
        display: block;
        width: 70px;
        position: absolute;
        top: 16px;
        left: 5px;
    }

    .navbar-default .navbar-brand {
        color: #777;
        display: none;
    }

    a .image-trader, .image-trader a:hover {
        margin: 10px 0 35px 0;
    }

    .float-right {
        float: initial;
    }

    .nav li > form > button.logout {
        text-align: center;
    }

    .optins_layerstability {
        top: 174px;
        right: -321px;
        width: 325px;
        height: auto;
        z-index: 9991;
    }

    .outer-button {
        display: none;
    }

    .inner-button {
        display: block;
    }

    h1 {
        font-size: 28px;
    }

    .item-key div.item-content {
        max-width: 580px;
    }

    .item-key {
        max-height: 100%;
        height: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        color: #edeef0;
        font-size: 16px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f5f5f5;
        font-size: 16px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: rgba(255, 152, 0, 0.47);
    }

    .about-us {
        height: 200px;
        padding: 15px 50px 15px 15px;
    }

    .alert-close-icon {
        max-width: 30px;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }

}


/*** Кастомные паддинги ***/
@media (max-width: 752px) {

    .item-key div.item-content {
        display: block;
    }

    .fixible {
        margin: 0 5px;
    }

    .b-popup .b-popup-content {
        left: 15px;
        right: 15px;
        width: 95%;
        max-width: 700px;
        height: 100%;
        max-height: 360px;
    }

}

.video-block-opt {
    text-align: center;
    margin-bottom: 25px;
}

@media (max-width: 640px) {

    .video-block-opt {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .video-block-opt iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 620px) {
    .sc-margin-sc-btn {
        margin-top: 10px;
    }
}

@media (max-width: 520px) {

    .vk-useridentity-vote, .vk-gifts-take {
        width: 340px;
        height: 610px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -310px;
        margin-left: -170px;
        z-index: 99999;
        background: #ffffff;
        border-radius: 5px;
    }

    #widget_pop, #widget_pop iframe {
        width: 320px!important;
    }

    #widget_pop iframe html body #community_footer.wcommunity_footer {
        width: 245px!important;
    }

    p.title-block-gifts {
        margin: 40px 0 15px 0;
        font-size: 22px;
    }

    p.block-gifts-desc {
        padding: 25px 25px 10px 25px;
    }

}

/*** Стили интерактивных карт - ДЛЯ АНДРОЙДОВ ***/
@media (max-width: 460px) {

    .optins_layerstability {
        top: 174px;
        right: -325px;
        width: 325px;
        height: 1000px;
        z-index: 999;
    }

    .mapcenter a.btn.btn-default.main-link, #mapCoords {
        z-index: 999;
    }

    .map#map {
        height: 356px;
    }

    .inner-button, .outer-button {
        top: 73px;
    }

    .leaflet-top.leaflet-left {
        display: none;
    }

    h1 {
        font-size: 28px;
    }

    .unactive-skill {
        margin-left: 0;
        margin-top: 60px;
    }

}

/*** alert custom breakpoint (430px) ***/
@media (max-width: 430px) {
    .about-us {
        height: 200px;
        padding: 10px 50px 10px 15px;
    }
}

/*** margin in registration clan form success button (416px) ***/
@media (max-width: 416px) {
    .mbl-margin-btn {
        margin-top: 10px;
    }
}

/*** alert custom breakpoint (400px) ***/
@media (max-width: 400px) {
    .about-us {
        display: none;
    }
}

/*** navbar custom hotfix col-sm col-xs ***/

@media (max-width: 991px) and (min-width: 768px) {
    .adaptive-fix {
        width: 900px;
    }
}